- name: Setup npm auth
  run: |
    echo "@rayeeskha:registry=https://npm.pkg.github.com/" >> ~/.npmrc
    echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> ~/.npmrc
  env:
    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
